.table thead {
  border-bottom: 2px solid rgb(160 160 160);
  text-align: center;
  background-color: #2c5e77;
  color: #fff;
}

.table body {
  background-color: #e4f0f5;
}

.table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.table th,
.table td {
  border: 1px solid rgb(160 160 160);
  padding: 1px 10px;
  text-align: right;
}

.table tr > th:first-of-type,
.table tr > td:first-of-type {
  text-align: left;
}
